{% extends "base.html" %}

{% block content %}

<h2>Add Supplier</h2>

<form method="POST">

    <input type="text"
       name="supplier_code"
       value="{{ supplier.supplier_code }}">

    <br><br>

    <input type="text"
       name="supplier_name"
       value="{{ supplier.supplier_name }}">

    <br><br>

    <input type="text"
       name="contact_person"
       value="{{ supplier.contact_person }}">

    <br><br>

    <input type="text"
       name="phone"
       value="{{ supplier.phone }}">

    <br><br>

    <input type="email"
       name="email"
       value="{{ supplier.email }}">

    <br><br>

    <input type="text"
       name="gst_number"
       value="{{ supplier.gst_number }}">

    <br><br>

    <textarea name="address">{{ supplier.address }}</textarea>

    <br><br>

    <button type="submit">
        Save Supplier
    </button>

</form>

{% endblock %}