{% extends "base.html" %}

{% block content %}

<br>

<a href="/reports/inventory/pdf"
   class="btn btn-success">
    Export Excel
</a>
<a href="/reports/inventory/pdf"
   class="btn btn-danger">
    Export PDF
</a>

&nbsp;&nbsp;
<br><br>


<h2>Inventory Report</h2>

<table border="1" style="border-collapse: collapse; width:100%;">

<tr>
    <th style="padding:10px;">Item Code</th>
    <th style="padding:10px;">Material</th>
    <th style="padding:10px;">Current Stock</th>
    <th style="padding:10px;">Minimum Stock</th>
</tr>

{% for stock in inventory %}

<tr>

    <td style="padding:10px;">
        {{ stock.item.item_code }}
    </td>

    <td style="padding:10px;">
        {{ stock.item.material_name }}
    </td>

    <td style="padding:10px;">
        {{ stock.current_stock }}
    </td>

    <td style="padding:10px;">
        {{ stock.item.min_stock }}
    </td>

</tr>

{% endfor %}

</table>

{% endblock %}