{% extends "base.html" %}

{% block content %}

<h2>Items</h2>
<form method="GET" class="mb-3">

    <input
        type="text"
        name="search"
        class="form-control"
        placeholder="Search by material name..."
        value="{{ search }}">

    <br>

    <button class="btn btn-primary">
        Search
    </button>

    <a href="/items" class="btn btn-secondary">
        Clear
    </a>

</form>
<a href="/add-item">Add New Item</a>

<br><br>

<table border="1">

<tr>
    <th>Code</th>
    <th>Name</th>
    <th>Category</th>
    <th>UOM</th>
    <th>Actions</th>
</tr>

{% for item in items %}
<tr>
    <td>{{ item.item_code }}</td>
    <td>{{ item.material_name }}</td>
    <td>{{ item.category }}</td>
    <td>{{ item.uom }}</td>
    <td>

    <a
        href="/edit-item/{{ item.id }}"
        class="btn btn-warning btn-sm">

        Edit

    </a>

</td>
</tr>
{% endfor %}

</table>

{% endblock %}