{% extends "base.html" %}

{% block content %}

<h2>Purchase Orders</h2>
<form method="GET" class="mb-3">

    <input
        type="text"
        name="search"
        class="form-control"
        placeholder="Search PO number or supplier..."
        value="{{ search }}">

    <br>


    <label>Status</label>

<select name="status" class="form-select">

    <option value="">All</option>

    <option value="Pending"
        {% if status == "Pending" %}selected{% endif %}>
        Pending
    </option>

    <option value="Completed"
        {% if status == "Completed" %}selected{% endif %}>
        Completed
    </option>

</select>

    <button class="btn btn-primary">
        Search
    </button>

    <a href="/purchase-orders"
       class="btn btn-secondary">
        Clear
    </a>

</form>
<a href="/add-po">
    Create Purchase Order
</a>

<br><br>

<table class="table table-bordered">

<tr>
    <th>PO Number</th>
    <th>Supplier ID</th>
    <th>Date</th>
    <th>Status</th>
    <th>View</th>
</tr>

{% for po in purchase_orders %}

<tr>
    <td>{{ po.po_number }}</td>
    <td>{{ po.supplier_id }}</td>
    <td>{{ po.order_date }}</td>
    <td>{{ po.status }}</td>
    <td>
    <a href="/purchase-order/{{ po.id }}">
        Open
    </a>
</td>
</tr>

{% endfor %}

</table>

{% endblock %}