{% extends "base.html" %}

{% block content %}

<h2>Purchase Order Report</h2>

<br>

<a href="/reports/purchase-orders/excel"
   class="btn btn-success">
    Export Excel
</a>

<a href="/reports/purchase-orders/pdf"
   class="btn btn-danger">
    Export PDF
</a>

<br><br>

<table
style="border-collapse:collapse;width:100%;"
border="1">

<tr>

<th style="padding:10px;">
PO Number
</th>

<th style="padding:10px;">
Supplier
</th>

<th style="padding:10px;">
Order Date
</th>

<th style="padding:10px;">
Status
</th>

</tr>

{% for po in purchase_orders %}

<tr>

<td style="padding:10px;">
{{ po.po_number }}
</td>

<td style="padding:10px;">
{{ po.supplier.supplier_name }}
</td>

<td style="padding:10px;">
{{ po.order_date }}
</td>

<td style="padding:10px;">

{% if po.status=="Completed" %}

<span style="color:green;">
Completed
</span>

{% else %}

<span style="color:red;">
Pending
</span>

{% endif %}

</td>

</tr>

{% endfor %}

</table>

{% endblock %}