{% extends "base.html" %}

{% block content %}

<h2>Reports</h2>

<br>

<ul>

    <li>
        <a href="/reports/inventory">
            Inventory Report
        </a>
    </li>
    <li>
    <a href="/reports/purchase-orders">
        Purchase Order Report
    </a>
    </li>

    <li>

<a href="/reports/suppliers">

Supplier Report

</a>

</li>
<li>
    <a href="/reports/grns">
        GRN Report
    </a>
</li>

<li>
    <a href="/reports/stock-issues">
        Stock Issue Report
    </a>
</li>
</ul>

{% endblock %}