{% extends "base.html" %}

{% block content %}

<h2>Stock Issue Report</h2>

<br>
<a href="/reports/stock-issues/excel"
   class="btn btn-success">
    Export Excel
</a>

<a href="/reports/stock-issues/pdf"
   class="btn btn-danger">
    Export PDF
</a>

<br><br>
<table border="1" style="border-collapse:collapse;width:100%;">

<tr>

    <th style="padding:10px;">
        Item
    </th>

    <th style="padding:10px;">
        Quantity
    </th>

    <th style="padding:10px;">
        Issue Date
    </th>

    <th style="padding:10px;">
        Department
    </th>

</tr>

{% for issue in stock_issues %}

<tr>

    <td style="padding:10px;">
        {{ issue.item.material_name }}
    </td>

    <td style="padding:10px;">
        {{ issue.quantity }}
    </td>

    <td style="padding:10px;">
        {{ issue.issue_date }}
    </td>

    <td style="padding:10px;">
        {{ issue.department }}
    </td>

</tr>

{% endfor %}

</table>

{% endblock %}